@model FinProjMvc.ViewModels.ProjectionViewModel
@{
    ViewBag.Title = "Decade";
}

<table class="date-nav">
    <tr>
        <td><a href="/Projection/Decade/@ViewBag.PreviousYearStart"><< @ViewBag.PreviousYearStart - @ViewBag.PreviousYearEnd</a>  </td>
        <td>
            &nbsp;
            <h2>@ViewBag.YearStart - @ViewBag.YearEnd</h2>
        </td>
        <td><a href="/Projection/Decade/@ViewBag.NextYearStart">@ViewBag.NextYearStart - @ViewBag.NextYearEnd >></a></td>
    </tr>
</table>

<table class="projection-decade">
    <tr>
        <th></th>
        @for (int year = ViewBag.YearStart; year <= ViewBag.YearEnd; year++)
        {
            <th><a href="/Projection/Year/@year">@year</a></th>
        }
    </tr>

    @foreach(var assetRow in Model.AssetRows) {
        <tr>
            <th><a href="@assetRow.LinkUrl">@assetRow.Name</a></th>
            
            @foreach (var value in assetRow.Values)
            {
                <td>@value</td>
            }
        </tr>
    }

    <tr>
        <th colspan="11"></th>
    </tr>

    <tr>
        <th>Cashflow:</th>
        @foreach (var value in Model.CashflowRow.Values)
        {
            <td>@value</td>
        }
    </tr>

    <tr>
        <th colspan="11"></th>
    </tr>

    <tr>
        <th>Cash:</th>
        @foreach (var value in Model.CashRow.Values)
        {
            <td>@value</td>
        }
    </tr>

    <tr>
        <th colspan="11"></th>
    </tr>

</table>
