@model FinProjMvc.ViewModels.ProjectionViewModel
@{
    ViewBag.Title = "Year";
}

<table class="date-nav">
    <tr>
        <td><a href="/Projection/Year/@ViewBag.PreviousYear"><< @ViewBag.PreviousYear</a>  </td>
        <td>
            <a href="/Projection/Decade/@ViewBag.DecadeStartYear">@ViewBag.DecadeStartYear - @ViewBag.DecadeEndYear</a>
            <h2>@ViewBag.Year</h2>
        </td>
        <td><a href="/Projection/Year/@ViewBag.NextYear">@ViewBag.NextYear >></a></td>
    </tr>
</table>

<table class="projection-year">
    <tr>
        <th></th>
        <th>Jan</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Apr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Aug</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dev</th>
    </tr>

    @foreach(var assetRow in Model.AssetRows) {
        <tr>
            <th><a href="@assetRow.LinkUrl">@assetRow.Name</a></th>
            
            @foreach (var value in assetRow.Values)
            {
                if (value >= 0)
                {
                    <td class="positive">@value</td>
                }
                else
                {
                    <td class="negative">(@(-value))</td>
                }                
            }
        </tr>
    }

    <tr>
        <th style="min-width:90px; padding-bottom:16px">
            @Html.ActionLink("New", "Create", "Asset", null, new { @class = "link-button", title = "New Asset" })
        </th>
        <th colspan="12" style="text-align:left">            
        </th>
    </tr>

    <tr>
        <th>Cashflow:</th>
        @foreach (var value in Model.CashflowRow.Values)
        {
            if (value >= 0)
            {
                <td class="positive">@value</td>
            }
            else
            {
                <td class="negative">(@(-value))</td>
            }                
        }
    </tr>

    <tr>
        <th colspan="13"></th>
    </tr>

    <tr>
        <th>Cash:</th>
        @foreach (var value in Model.CashRow.Values)
        {
            if (value >= 0)
            {
                <td class="positive">@value</td>
            }
            else
            {
                <td class="negative">(@(-value))</td>
            }                
        }
    </tr>

    <tr>
        <th colspan="13"></th>
    </tr>

</table>
