@model IEnumerable<FinProjMvc.Models.Asset>

@{
    ViewBag.Title = "Index";
}

<h2>Assets</h2>

<table class="list">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Enabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Payments", "Payments", new { id=item.AssetId }) |
                @Html.ActionLink("Edit", "Edit", new { id=item.AssetId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.AssetId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
